
header{
    background:linear-gradient(#ba800b , #fff8f8) ;
    position: relative;
    width: 100%;
    height: 150px;
}
body , .body{
    position: relative;
    padding-bottom: 5.5em;
    font-family: 'Cinzel';
    width: 100%;
}
.body2{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.titulo{
    text-align: center;
    position: inherit;
    top: 20%;
    font-family: 'Cinzel';
    color: #f7e7b2;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(100, 55, 29), 0 0 0.2em rgb(22, 19, 9);
    font-size: 40px;
}

.seccion1{
    width: 100%;
    height: 79px;
    background: url(./images/backgrounddivodin.jpg);
    background-attachment: initial;
    background-position: center;
    background-size: 33%;
}
.seccion2{
    position: relative;
    height: 15em;
    width: 100%;
    text-align: center;
}
.seccion3{
    width: 100%;
    height: 79px;
    background: url(./images/backgrounddivodin.jpg);
    background-attachment:initial;
    background-position: center;
    background-size: 33%;
}
nav{
    margin: 50px auto auto 0%;
}
.ul li{
    display: inline-block;
    text-align: center;
    margin: 0 2%;
    vertical-align: top;
    padding: 30px 20px; 

}


footer{
    background:linear-gradient(#fff8f8 , #ba800b) ;
    width: 100%;
    height: 88px;
    position:absolute;
    bottom: 0;
}

.footer2{
    position: relative;
}

#signature{
    text-align: center;
    color: #f7e7b2;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(100, 55, 29), 0 0 0.2em rgb(22, 19, 9);
    margin-top: auto;
    padding-top: 5%;
}

.imagen-a{
    width: 200px;
    height: 150px;
}               
.imagen-b{
    padding-top: 85%;
    width: 50px;
    height: 50px;
}
.imagen-c{
    position: absolute;
    z-index: -1;
    width: 230px;
    height: 165px;
    margin: -0.5% -1%;
    padding: -35px -25px;    
}
.imagen-a ,.imagen-c{
    border-radius: 75%;
    border: 2px solid black ;
}
.imagen-a:hover{
    border-color: #dfb912;
    transform: scale(1.2);
    transition: 1s all;
}
.imagen-d{
    width: 475px;
    height: 300x;
    border-radius: 10%;
    float: right;
    padding-right: 10%;
}
.receta{
    padding-top: 10%;
}

.box{
   float: left ;
}
.box .description{
   display: block;
}
div.boximg{ 
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.topbox{
   display: inline-block;
}